<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.projet_medical">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login_Mdp_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Traitement_Compte_Activity" />
        <activity
            android:name=".Accueil_Cabinet_Activity"
            android:label="@string/title_activity_accueil__cabinet_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Information_Cabinet" />
        <activity
            android:name=".Rendez_Vous_Activity"
            android:label="@string/title_activity_rendez__vous_"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>